// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 700

.josefin-sans-<uniquifier> {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;  
}

button{
  padding: 4px 8px;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  margin: auto auto;
}

button:hover{
  color: hsl(220, 98%, 61%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }